html
  head
    title Order Form
    style.
      .body{
        background-color: black;
        
      }
      .column {
      float: left;
      padding: 1%;
      margin: 1%;
      border-radius: 3%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .left {
      width: 25%;
      background-color: beige;
      text-align: center;
      }
      .right {
      width: 25%;
      background-color: aquamarine;
      text-align: center;
      }
      .middle {
      width: 35%;
      padding-right: 4%;
      background-color: bisque;
      text-align: center;
      }
  body(onload='init()')
    include ./header
    br
    br
    //- h1 Let's Order Food!
    select#restaurant-select
    br
    br
    #info
    #main
      #left.column.left
      #middle.column.middle
      #right.column.right
      br
    script(src='../orderform.js')

  include ./footer
